{% block about %}

 <!-- About us section -->
 <section class="about-section">
    <div class="about">
        <div class="first">
            <p class="change-color">Latest Tweet</p>
            <h3>Interested in starting a new project?</h3>
            <p>Give us a call at +91 1234567890</p>
            <p>#digital #agency #website #creatives</p>
            <p>#ui #ux https://nk/Tectdev</p>
            <div class="social">
                <h3>Social Media</h3>
                <i class="fab fa-facebook-square"></i>
                <i class="fab fa-instagram-square"></i>
                <i class="fab fa-twitter-square"></i>
            </div>
        </div>
        <div class="Blog">
            <p class="change-color">Blog</p>
            <h2>Thinks of Fathe of India</h2>
            <p>"You must be the change you wish to see in the wold"</p>
            <p id="quart">- Mahatma Gandhi</p>
        </div>
        <div class="second">
            <div class="telephone">
               <h3>Telephone</h3>
                <p>09136 254 123</p> 
            </div>
            <div class="email">
                <h3>Email</h3>
                <p>hello@gmail.com</p>
            </div>
            <div class="address">
                <h3>Address</h3>
                <p>Gibfield Park Ave</p>
                <p>Atherton</p>
                <p>Manchester</p>
                <p>M46 OSU</p>
            </div>
        </div>
    </div>
    <div class="footer">
        <p>Website &copy; CopyRight Reserved</p>
    </div>
</section>

{% endblock %}